@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
.card {
  position: relative;
  height: 150px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  width: 100%;
  display: grid;
  place-items: center;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.svg {
  width: 100%;
  height: 100%;
  display: block;
}

.text {
  font-family: "Paperozi";
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  letter-spacing: -0.02em;
}